.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  position: absolute;
  margin-left: 5px;
  width: 20px;
}

*{
  font-family: 'Nunito', sans-serif;
  /* text-align: center; */
}


Header{
  opacity: .7;
}

Footer{
  opacity: .7;
}

body{
  text-align: center;
}

#app > div > div:nth-child(3){
  position: absolute;
  bottom: 10%;

  opacity: .5;
}